body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    background-image: url(images/calc4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}
.para{
    text-align: center;
    font-size: 30px; 
    font-family: 'Times New Roman', Times, serif;
}
.calc{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-gap: 5px;
    max-width: 200px;
    width: 10%;
    background-color:black;
    padding: 6px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(33, 171, 86, 0);
    align-items: center;
    padding-left: 14px;
    padding-right: 32px;
}
.display {
    display: flex;
    grid-column: span 4;
    background-color: #b8d04e;
    color: white;
    padding: 10px;
    padding-right: 30px;
    text-align:right;
    font-size: 1.5rem;
    border-radius: 6px;
    overflow: hidden;
}

.btn {
    background-color: #375aaa;
    color: white;
    border: none;
    padding: 15px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: #777;
    transition: background-color 0.3s ease;
}
.btn1 {
    background-color: rgb(133, 183, 229);
    color: white;
    border: none;
    padding: 15px;
    font-size: 1rem;
    box-shadow: #777;
    cursor: pointer;
    border-radius: 2px;
    transition: background-color 0.3s ease;

} 
 .btn2 {
    background-color: rgb(247, 247, 39);
    color: white;
    border: none;
    padding: 15px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 2px;
    transition: background-color 0.3s ease;

}
.btn:hover {
    background-color: #777;
}
footer{
    color:rgba(1, 2, 23, 0.881);
    margin-top: 9%;
    padding: 30px;
    text-align: center;
    background-color: #c3aecb;
    
}